<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <meta charset="UTF-8"/>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content="Gestion des Taxis"/>
        <link rel="shortcut icon" href="#{request.contextPath}/resources/icons/favicon.ico"/>
        <meta name="author" content="Simon Pascal Ngos"/>
        <link href="#{request.contextPath}/resources/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="#{request.contextPath}/resources/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet"/>
        <style>
            /* Set the fixed height of the footer here */
            #push,
            #footer {
                height: 60px;
            }
            #footer {
                background-color: #f5f5f5;
            }

            /* Lastly, apply responsive CSS fixes as necessary */
            @media (max-width: 767px) {
                #footer {
                    margin-left: -20px;
                    margin-right: -20px;
                    padding-left: 20px;
                    padding-right: 20px;
                }
            }
        </style>
        <title>FREELANCERTECH - BASE</title>
    </h:head>

    <h:body >

        <h:form rendered="true">
            <div style=" position: relative; background-color: #fff;">
                <h:link outcome="/index">
                    <p:graphicImage library="images" name="freelancertech.png" style="vertical-align: middle; position: relative; margin-left: 20px; margin-right: 10px;"/>
                </h:link>
                <font style="font-family: sans-serif; vertical-align: middle; font-size: x-large; font-weight: bolder;">FREELANCERTECH - BASE</font>
                   <p align = "right">
                       <h:panelGrid columns="2" style="border-spacing: 5px" >
                        <h1>
                            Utilisateur : <b>  #{p:remoteUser()}  </b>
                        </h1>
                        <p:menuButton   value="Mon Profil">

                            <p:menuitem ajax="false" id="deconnexion" value="Deconnexion"
                                        actionListener="#{logoutController.doLogout()}"      action="/?faces-redirect=true" />
                        </p:menuButton>
                       </h:panelGrid>
                    </p>
            </div>
            <p:menubar>
                <p:menuitem value="Accueil |" outcome="/index" icon="ui-icon-home"/>
                <p:menuitem value="Gestion des Groupes |" outcome="/administration/groupe/index" />
                <p:menuitem value="Gestion des Utilisateurs |" outcome="/administration/utilisateur/index" />
                <p:menuitem value="Configuration" url="#" icon="ui-icon-gear" />
            </p:menubar>

        </h:form>
        <div id="content" class="container">
            <ui:insert name="content">Content</ui:insert>
        </div>
        <div id="bottom">
            <ui:insert name="bottom">
                <p align = "right">Copyright  by 2014  <a href="http://www.freelancertech.net" target="_blank">www.freelancertech.net</a></p>
            </ui:insert>
        </div>
        <!-- Le javascript
  ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <!--script src="#{request.contextPath}/resources/js/jquery.js"></script-->
        <script type="text/javascript" src="#{request.contextPath}/resources/bootstrap/js/bootstrap.min.js"></script>
    </h:body>
</html>
