<f:view xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:p="http://primefaces.org/ui" xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/WEB-INF/templates/default.xhtml">


        <ui:define name="content">
            <div class="container">
                <h:form>
                    <p:growl id="msg" showDetail="true" escape="false"/>
                    <fieldset>
                        <legend>Enregistrement d'un groupe</legend>
                        <label>Nom</label>
                        <p:inputText id="txtNom" value="#{groupeController.groupe.nom}"
                                     readonly="true" required="true" class="form-control"/>
                        <label>Libellé</label>
                        <p:inputText id="txtLibelle" value="#{groupeController.groupe.libelle}" class="form-control"/>
                        <label>Description</label>
                        <p:inputTextarea id="txtDescription" value="#{groupeController.groupe.description}"
                                         required="false" class="form-control"/>
                        <label>Actif ?</label>
                        <p:selectBooleanCheckbox id="checkBoxActif" value="#{groupeController.groupe.actif}"
                                                 required="true" class="form-control"/>


                        <div class="control-group">
                            <div class="controls form-actions">
                                <p:commandLink ajax="false" value="Enregistrer" action="#{groupeController.performEdit()}" class="btn btn-success"/>

                            </div>

                        </div>
                    </fieldset>
                </h:form>
            </div>
        </ui:define>
    </ui:composition>
</f:view>
