<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="./../../WEB-INF/templates/default.xhtml">

            <ui:define name="content">
                <h:form id="formUtilisateurs">
                    <p:dataTable value="#{groupeController.groupes}" var="groupe"
                                 widgetVar="tableGroupe" emptyMessage="Aucun groupe trouvé"
                                 filteredValue="#{groupeController.filtereds}"
                                 selectionMode="single" rowKey="#{groupe.nom}"
                                 selection="#{groupeController.groupe}">

                        <f:facet name="header">
                            <p:outputPanel>
                                <h:outputText value="Search all fields:" />
                                <p:inputText id="globalFilter" onkeyup="PF('tableGroupe').filter()" style="width:150px" placeholder="Enter keyword"/>
                            </p:outputPanel>
                        </f:facet>

                        <p:column headerText="Nom" filterBy="#{groupe.nom}" filterMatchMode="startsWith">
                            <h:outputText value="#{groupe.nom}"/>
                        </p:column>

                        <p:column headerText="Libellé" filterBy="#{groupe.libelle}" filterMatchMode="contains">
                            <h:outputText value="#{groupe.libelle}"/>
                        </p:column>

                        <p:column headerText="Description" filterBy="#{groupe.description}" filterMatchMode="contains">
                            <h:outputText value="#{groupe.description}"/>
                        </p:column>

                        <p:column headerText="Date de création">  
                            <h:outputText value="#{groupe.dateCre}">
                                <f:convertDateTime type="date" pattern="dd/MM/yyyy"/>
                            </h:outputText>
                        </p:column>  

                        <p:column headerText="Date de modification">  
                            <h:outputText value="#{groupe.dateMaj}">
                                <f:convertDateTime type="date" pattern="dd/MM/yyyy"/>
                            </h:outputText>
                        </p:column>  

                        <f:facet name="footer">  
                            <p:commandButton id="new" value="Nouveau" icon="ui-icon-check" ajax="false" action="#{groupeController.create()}"/>
                            <p:commandButton id="edit" value="Modifier" icon="ui-icon-edit" ajax="false" action="#{groupeController.edit()}"/>
                            <p:commandButton id="view" value="Détails" icon="ui-icon-search" ajax="false" action="#{groupeController.view()}"/>  
                            <p:commandButton id="delete" value="Supprimer" icon="ui-icon-search" ajax="false" action="#{groupeController.delete()}"/>  
                        </f:facet> 
                    </p:dataTable>
                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>
