<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template/template.xhtml">
        <ui:define name="body">
            <p:messages closable="true" autoUpdate="true" severity="info,warn, error"/>

            <h:form>
                <p:panelGrid columns="2">
                    <f:facet name="header">
                        Générer feuilles 
                    </f:facet>
                    <h:outputLabel value="id" for="id" />
                    <h:inputText id="id" value="#{matiereController.current.id}" title="course id"  readonly="true"/>
                    <h:outputLabel value="Code de la Matière" for="CCode" />
                    <h:inputText id="CCode" value="#{matiereController.current.CCode}" title="Course Code" required="true" readonly="true" requiredMessage="Course code is required!"/>
                    <h:outputLabel value="Nom" for="CName" />
                    <h:inputText id="CName" value="#{matiereController.current.CName}" title="Course Name" required="true" readonly="true" requiredMessage="Course Name is required!"/>
                    <h:outputLabel value="Date" for="date" />
                    <p:calendar  id="date" value="#{matiereController.current.date}" title="Exam Date(dd MMM yyyy)"  readonly="true"
                                 required="true" requiredMessage="Exam Date is required!" mode="popup" effect="slide"  pattern="dd MMM yyyy"
                                 showOn="button" />
                    <h:outputLabel value="Niveau" for="level" />
                    <h:inputText id="level" value="#{matiereController.current.level}" readonly="true" title="Course level" required="true" requiredMessage="Course level is required!"/>
                    <h:outputLabel value="Nombre de copies" for="numOfCopies" />
                    <p:spinner id="numOfCopies" required="true" value="#{matiereController.numOfCopies}"  min="1" 
                               title="number of copies to print" requiredMessage="Number of copies required!"/>
                </p:panelGrid>
                <h:commandLink action="#{matiereController.generateSheets()}">
                    <p:commandButton  value="Générer les Copies"/>
                </h:commandLink>
                <br/>
                <br />
                <h:commandLink action="#{matiereController.prepareView}" value="Voir"/>
                <br/>
                <br />
                <h:link outcome="/ListCourse" value="Toute les Matières" />

            </h:form>
        </ui:define>
    </ui:composition>
</html>