<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">

    <body>

        <ui:composition template="./../../WEB-INF/templates/default.xhtml">

            <ui:define name="content">
                <p:messages />
                <h:form id="formEtudiants">
                    <p:dataTable id="etudiants" var="etudiant" value="#{etudiantController.etudiants}" rowKey="#{etudiant.matricule}"  
                                 selection="#{etudiantController.selected}" selectionMode="single">  

                        <p:column headerText="Nom">  
                            #{etudiant.nom}  
                        </p:column>  

                        <p:column headerText="Prénom">  
                            #{etudiant.prenom}  
                        </p:column>  

                        <p:column headerText="Matricule" >  
                            #{etudiant.matricule}  
                        </p:column>  

                        <p:column headerText="Date de naiisance">  
                            <h:outputText value="#{etudiant.dteNais}">
                                <f:convertDateTime type="date" pattern="dd/MM/yyyy"/>
                            </h:outputText>

                        </p:column>  

                        <f:facet name="footer">  
                            <p:commandButton id="new" value="New" icon="ui-icon-check" ajax="false" action="#{etudiantController.create()}"/>
                            <p:commandButton id="edit" value="Edit" icon="ui-icon-edit" ajax="false" action="#{etudiantController.edit()}"/>
                            <p:commandButton id="view" value="View" icon="ui-icon-search" ajax="false" action="#{etudiantController.view()}"/>  
                            <p:commandButton id="delete" value="Delete" icon="ui-icon-search" ajax="false" action="#{etudiantController.delete()}"/>  
                        </f:facet>  
                    </p:dataTable> 

                    <p:dialog id="dialog" header="Student Detail" widgetVar="etudiantDialog" resizable="true"  
                              width="300" showEffect="clip" hideEffect="fold">  

                        <h:panelGrid id="display" columns="2" cellpadding="4">  


                            <f:facet name="header">  
                                <p:graphicImage value="/images/etudiants/#{etudiantController.selected.matricule}.jpg" alt="Image"/>  
                            </f:facet>  


                            <h:outputLabel value="Nom" />  
                            <h:outputText value="#{etudiantController.selected.nom}" />  

                            <h:outputLabel value="Prénom" />  
                            <h:outputText value="#{etudiantController.selected.prenom}" />  

                            <h:outputLabel value="Matricule" />  
                            <h:outputText value="#{etudiantController.selected.matricule}" />  

                            <h:outputLabel value="Date de naissance" />  
                            <h:outputText value="#{etudiantController.selected.dteNais}">
                                <f:convertDateTime type="date" pattern="dd/MM/yyyy"/>
                            </h:outputText>

                            <h:outputLabel value="Lieu de naissance" />  
                            <h:outputText value="#{etudiantController.selected.lnais}" />  

                            <h:outputLabel value="Adresse email" />  
                            <h:outputText value="#{etudiantController.selected.email}" />  

                            <h:outputLabel value="Numéro de téléphone" />  
                            <h:outputText value="#{etudiantController.selected.telephone}" />  

                        </h:panelGrid>  
                    </p:dialog>             
                </h:form>
            </ui:define>
        </ui:composition>

    </body>
</html>
