<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">

    <body>

        <ui:composition template="./../../WEB-INF/templates/default.xhtml">

            <ui:define name="left">
                left
            </ui:define>

            <ui:define name="content">
                <h:form>
                    <fieldset>
                        <legend>Enregistrement d'un étudiant</legend>

                        <h:messages/>

                        <h:panelGrid columns="2" styleClass="border:0px;">
                            <p:outputLabel for="txtNom" value="Nom"/>
                            <h:outputText id="txtNom" value="#{etudiantController.etudiant.nom}"/>

                            <p:outputLabel for="txtPrenom" value="Pr&eacute;nom"/>
                            <h:outputText id="txtPrenom" value="#{etudiantController.etudiant.prenom}"/>

                            <p:outputLabel for="txtMatricule" value="Matricule"/>
                            <h:outputText id="txtMatricule" value="#{etudiantController.etudiant.matricule}"/>

                            <p:outputLabel for="dteNais" value="Date de naissance"/>
                            <h:outputText id="dteNais" value="#{etudiantController.etudiant.dteNais}">
                                <f:convertDateTime pattern="dd/MM/yyyy"/>
                            </h:outputText>

                            <p:outputLabel for="txtLnais" value="Lieu de naissance"/>
                            <h:outputText id="txtLnais" value="#{etudiantController.etudiant.lnais}"/>

                            <p:outputLabel for="txtEmail" value="Adresse email"/>
                            <h:outputText id="txtEmail" value="#{etudiantController.etudiant.email}"/>

                            <p:outputLabel for="txtTelephone" value="Numéro de téléphone"/>
                            <h:outputText id="txtTelephone" value="#{etudiantController.etudiant.telephone}"/>

                            <p:outputLabel for="txtDesc" value="Description"/>
                            <h:outputText id="txtDesc" value="#{etudiantController.etudiant.description}"/>

                            <p:outputLabel value="Photo"/>                    
                        </h:panelGrid>
                        <p:commandButton ajax="false" value="Return" action="index?faces-redirect=true" styleClass="btn btn-success"/>
                    </fieldset>
                </h:form>
            </ui:define>

        </ui:composition>
    </body>
</html>
