<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="./../../WEB-INF/templates/default.xhtml">

        <ui:define name="top">
            Gestion des imprimantes | Configuration
        </ui:define>

        <ui:define name="content">
            <p:outputLabel value="Imprimantes" style="float: none; width: auto;"/><br/>
            <p:outputLabel value="Liste des imprimantes" style="float: none; width: auto;"/><br/>
            <hr/>
            <p:growl escape="false" showDetail="true" life="1000" severity="info,warn,error"/>
            <h:form prependId="false">  
                <div style="float: right;">
                    <div style="margin-bottom: 5px;">
                        <p:commandButton icon="iconPdf" id="pdf" value="PDF" ajax="false" actionListener="#{imprimanteController.pdfList(event)}" style="width: 100px; float: right;"/>
                        <p:commandButton icon="iconExcel" id="excel" value="EXCEL" ajax="false" actionListener="#{imprimanteController.excelList(event)}" style="width: 100px;"/>
                    </div>
                    <div style="float: right; display: block; margin-bottom: 20px;">
                        <p:commandButton id="new" value="Nouveau" icon="ui-icon-plus" ajax="false" action="#{imprimanteController.create()}" style="width: 210px;"/>
                    </div>
                </div>

                <p:dataTable value="#{imprimanteController.imprimantes}" var="imprimante" rowKey="#{imprimante.id}"
                             selection="#{imprimanteController.imprimante}" selectionMode="single"
                             filteredValue="#{imprimanteController.filtereds}"
                             paginator="true" paginatorPosition="both" rows="10" 
                             sortBy="#{imprimante.id}" sortOrder="ascending" style="float: left; width: 100%;">
                    <p:column sortBy="#{imprimante.nom}" filterBy="#{imprimante.nom}" filterMatchMode="startsWith">
                        <f:facet name="header">
                            <h:outputText value="Nom"/>
                        </f:facet>                        
                        <h:outputText value="#{imprimante.nom}"/>
                    </p:column>

                    <p:column styleClass="wrap" sortBy="#{imprimante.description}" filterBy="#{imprimante.description}" filterMatchMode="contains">
                        <f:facet name="header">
                            <h:outputText value="Description"/>
                        </f:facet>
                        <h:outputText value="#{imprimante.description}"/>
                    </p:column>

                    <p:column sortBy="#{imprimante.active}" filterBy="#{imprimante.active}" filterMatchMode="exact">
                        <f:facet name="header">
                            <h:outputText value="Active"/>
                        </f:facet>
                        <h:outputText value="#{imprimante.active}"/>
                    </p:column>

                    <p:column sortBy="#{imprimante.dateCreation}">
                        <f:facet name="header">
                            <h:outputText value="Date de création"/>
                        </f:facet>
                        <h:outputText value="#{imprimante.dateCreation}">
                            <f:convertDateTime type="both" pattern="dd/MM/yyyy kk:mm:ss"/>
                        </h:outputText>
                    </p:column>

                    <p:column sortBy="#{imprimante.dateModification}">
                        <f:facet name="header">
                            <h:outputText value="Date de modification"/>
                        </f:facet>
                        <h:outputText value="#{imprimante.dateModification}">
                            <f:convertDateTime type="both" pattern="dd/MM/yyyy kk:mm:ss"/>
                        </h:outputText>
                    </p:column>

                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Actions"/>
                        </f:facet>
                        <h:commandLink  value="Modifier" action="#{imprimanteController.edit()}">
                            <f:setPropertyActionListener value="#{imprimante}" target="#{imprimanteController.imprimante}"/>
                        </h:commandLink>
                        <p:spacer width="4"/>|<p:spacer width="4"/>
                        <h:commandLink value="Supprimer" action="#{imprimanteController.delete()}">
                            <f:setPropertyActionListener value="#{imprimante}" target="#{imprimanteController.imprimante}"/>
                        </h:commandLink>
                    </p:column>
                </p:dataTable> 
                
            </h:form>
        </ui:define>
    </ui:composition>
</html>
