<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="./../../WEB-INF/templates/default.xhtml">
        <ui:define name="top">
            Gestion des Unités d'Enseignement | Configuration
        </ui:define>

        <ui:define name="content">
            <div style="float: none;">
                <p:outputLabel value="Epreuve &gt; #{epreuveController.epreuve.matiere.code} (#{epreuveController.epreuve.matiere.nom}) &gt; Edition des coppies" style="float: none; width: auto;"/><br/>
                <p:outputLabel value="#{epreuveController.epreuve.matiere.code} (Séssion de #{epreuveController.epreuve.mois.label} #{epreuveController.epreuve.annee}) : Edition des copies" style="float: none; width: auto;"/><br/>
            </div>

            <p:growl escape="false" showDetail="true" life="10000" severity="info,warn,error"/>

            <h:form>
                <div style="float: right; display: inline;">
                    <h:link value="&lt; Retour" outcome="index"/> 
                </div>
                <br/>

                <div style="border-width: 2px; border-style: solid; vertical-align: middle; padding: 10px 0px 10px 5px;">
                    <p:commandLink ajax="false" value="Editer les copies" action="copies?faces-redirect=true"/> | 
                    <p:commandLink ajax="false" value="Feuille de correction" action="#{correctionController.gotoFeuilleCorrection()}"/> | 
                    <p:commandLink value="Correction et résultat" ajax="false" action="#{correctionController.gotoFeuilleCorrection()}" style="font-size: 36px;"/>
                </div>
                <div style="width: -moz-available; width: 100%;">
                    <h:outputLabel style="width: -moz-available; width: 100%;" value="Entrer le nombre de copies à éditer, ensuite, cliquer sur le bouton &laquo;Editer&raquo;" /><br/>    
                    <h:outputLabel style="width: -moz-available; width: 100%;" value="&lowast;V&eacute;rifier que l'imprimante est bien configurée et connectée." /><br/><br/>
                </div>
                <p>                    
                    <p:progressBar id="progress" ajax="true" labelTemplate="Progression : {value}%" 
                                   value="#{copieController.progress}" style="width: 250px;"  />
                </p>

                <p>
                    <p:commandButton id="editer" ajax="false" value="Editer" actionListener="#{copieController.performEditer(event)}"/>                        
                </p>
            </h:form>
        </ui:define>
    </ui:composition>
</html>
