<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="./../../WEB-INF/templates/default.xhtml">
        <ui:define name="top">
            Gestion des Unités d'Enseignement | Configuration
        </ui:define>

        <ui:define name="content">
            <p:outputLabel value="&Eacute;preuve &gt; #{epreuveController.epreuve.matiere.code} (#{epreuveController.epreuve.matiere.nom}) &gt; Feuille de correstion : Upload" style="float: none; width: auto;"/><br/>
            <p:outputLabel value="#{epreuveController.epreuve.matiere.code} (S&eacute;ssion de #{epreuveController.epreuve.mois.label} #{epreuveController.epreuve.annee}) : Feuille de correction" style="float: none; width: auto;"/><br/>

            <h:form enctype="multipart/form-data">
                <p:growl escape="false" showDetail="true" life="10000" severity="info,warn,error"/>
                <div style="float: right;">
                    <h:link value="&lt; Retour &agrave; la liste" outcome="index"/> | 
                </div>
                <div style="border-width: 2px;">
                    <p:commandLink ajax="false" value="Editer les copies" action="copies?faces-redirect=true"/> | 
                    <p:commandLink ajax="false"  value="Feuille de correction" action="#{correctionController.gotoFeuilleCorrection()}" /> | 
                    <p:commandLink ajax="false" value="Correction et r&eacute;sultats" action="#{epreuveController.gotoCorrection()}"/>
                </div>
                <p>
                    <p:progressBar id="progress" ajax="true" labelTemplate="Progression : {value}%" 
                                   value="#{correctionController.progress}" style="width: 250px;"  />
                </p>

                <p>
                    <h:outputLabel value="Nom de l'enseignant : " for="enseignant" />    
                    <p:inputText id="enseignant" value="#{correctionController.correction.enseignant}"/>
                </p>

                <p>
                    <h:outputLabel value="Email : " for="email" />
                    <p:inputText id="email" value="#{correctionController.correction.email}">
                        <f:validator binding="#{emailValidator}"/>
                    </p:inputText>
                </p>

                <p>
                    <h:outputLabel for="telephone" value="T&eacute;l&eacute;phone : "/>
                    <p:inputText id="telephone" value="#{correctionController.correction.telephone}">
                        <f:validator binding="#{phoneNumberValidator}"/>
                    </p:inputText>
                </p>

                <p>
                    <h:outputLabel for="nombre" value="Nombre de questions : "/>
                    <p:inputText id="nombre" value="#{correctionController.correction.nombre}">
                        <f:validateLongRange minimum="1" maximum="100"/>
                    </p:inputText>
                </p>

                <p>
                    <h:outputLabel for="fichier" value="Fichier : "/>
                    <!-- Taille de fichier limitée à 524288 octects (512 Ko) -->
                    <p:fileUpload id="fichier"
                                  fileUploadListener="#{correctionController.handleCorrection}"
                                  allowTypes="/(\.|\/)(gif|jpe?g|png)$/" 
                                  auto="false"                                  
                                  dragDropSupport="true" 
                                  invalidFileMessage="Fichier incorrect. Vérifiez le format."
                                  sizeLimit="524288"  
                                  mode="advanced"
                                  invalidSizeMessage="Taille de fichier incorrecte."                                  
                                  multiple="false" 
                                  label="Parcourrir" 
                                  cancelLabel="Annuler" 
                                  uploadLabel="Upload"/>
                </p>
                <p:commandButton ajax="false" action="#{correctionController.processCorrection()}" 
                                 value="Enregistrer"/>
            </h:form>
        </ui:define>
    </ui:composition>
</html>
