<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

    <ui:composition template="./../../WEB-INF/templates/default.xhtml">
        <ui:define name="content">
            <p:growl escape="true" life="10000" showDetail="true" severity="info,warn,error" />
            <h:form>
                <p:panelGrid columns="2">
                    <f:facet name="header">
                        Modification d'une &Eacute;preuve
                    </f:facet>
                    <p:outputLabel value="Mati&egrave;re : " for="matiere" />                    
                    <p:selectOneMenu id="matiere" value="#{epreuveController.epreuve.matiere}" converter="#{matiereConverter}" disabled="true">
                        <c:forEach items="#{matiereController.matieres}" var="ma">
                            <f:selectItem itemValue="#{ma}" itemLabel="#{ma.code}"/>
                        </c:forEach>
                    </p:selectOneMenu>

                    <p:outputLabel value="Date de passage : " for="date" />
                    <p:calendar  id="date" value="#{epreuveController.epreuve.datePassage}" title="Exam Date(01/01/2014)"  
                                 required="true" mode="popup" effect="slide"  pattern="dd/MM/yyyy"
                                 showOn="button" navigator="true" >
                        <f:convertDateTime type="date" pattern="dd/MM/yyyy" />
                    </p:calendar>  

                    <p:outputLabel for="annee" value="Ann&eacute;e : "/>
                    <p:spinner id="annee" min="2014" value="#{epreuveController.epreuve.annee}">
                        <f:convertNumber groupingUsed="false" type="number" />
                    </p:spinner>

                    <p:outputLabel for="mois" value="Mois : "/>
                    <p:selectOneMenu id="mois" value="#{epreuveController.epreuve.mois}">
                        <c:forEach items="#{applictaionController.mois}" var="m">
                            <f:selectItem itemValue="#{m}" itemLabel="#{m.label}"/>
                        </c:forEach>
                    </p:selectOneMenu>

                    <p:outputLabel for="txt_statut" value="Statut :"/>
                    <h:outputText id="txt_statut" value="#{epreuveController.epreuve.statut}" title="Statut de l'&eacute;preuve">
                        <f:converter binding="#{statutEpreuveConverter}"/>
                    </h:outputText>

                </p:panelGrid>
                <p:commandButton ajax="false" action="#{epreuveController.performEdit()}"  value="Enregistrer"/>                                     
                <br/>
                <p:commandLink action="index?faces-redirect=true" value="Toutes les &eacute;preuves" immediate="true"/>               
            </h:form>
        </ui:define>
    </ui:composition>
</html>
