<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="./../../WEB-INF/templates/default.xhtml">
        <ui:define name="content">
            <p:outputLabel value="Epreuve &gt; #{epreuveController.epreuve.matiere.code} (#{epreuveController.epreuve.matiere.nom}) &gt; Acquisition des copies d'&eacute;tudiants" style="float: none; width: auto;"/><br/>
            <p:outputLabel value="#{epreuveController.epreuve.matiere.code} (S&eacute;ssion de #{epreuveController.epreuve.mois.label} #{epreuveController.epreuve.annee}) : Acquisition des copies d'&eacute;tudiants" style="float: none; width: auto;"/><br/>

            <p:growl escape="false" showDetail="true" life="10000" severity="info,warn,error"/>

            <h:form enctype="multipart/form-data" prependId="false">
                <p:growl id="growl" escape="false" showDetail="true" life="1000" severity="info,warn,error"/>
                <p:growl escape="false" showDetail="true" life="10000" severity="info,warn,error"/>
                <div style="float: right;">
                    <h:link value="&lt; Retour &agrave; la liste" outcome="index"/> | 
                </div>
                <div style="border-width: 2px;">
                    <p:commandLink ajax="false" value="Editer les copies" action="copies?faces-redirect=true"/> | 
                    <p:commandLink ajax="false"  value="Feuille de correction" action="#{correctionController.gotoFeuilleCorrection()}" /> | 
                    <p:commandLink ajax="false" value="Correction et r&eacute;sultats" action="#{epreuveController.gotoCorrection()}"/>
                </div>

                <p:panel>
                    <h:outputText value="Uploader feuilles des étudiants" />
                    <br/>
                    <br/>
                    <!--
                    <p:progressBar  id="pg" widgetVar="pbBar" value="#{copieController.progress}" labelTemplate="{value}%">
                        <p:poll interval="1" listener="#{copieController.progress}" update="pg"  />
                    </p:progressBar>
                    -->
                    <br/> 
                    <p:fileUpload fileUploadListener="#{copieController.handleCopiesEtudiants}" 
                                  mode="advanced" allowTypes="/(\.|\/)(rar|jar|zip)$/" 
                                  sizeLimit="250000000"
                                  invalidFileMessage="Type de fichier incorrect."
                                  invalidSizeMessage="Taille de fichier incorrecte."
                                  cancelLabel="Annuler"
                                  multiple="false" update="growl"/>
                    <br/>
                    <p:commandButton ajax="false" id="mark_sheets" value="Corriger les feuilles" action="#{copieController.processCopies()}"/>                    
                    <br/>
                </p:panel>
            </h:form>
        </ui:define>        
    </ui:composition>
</html>
