<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <body>
        <ui:composition template="/WEB-INF/templates/default.xhtml">

            <ui:define name="content">
                <p></p>
                <h1>
                  
                    
                    <b>FREELANCERTECH BASE</b> est l'une des applicaitons  web J2EE de base  FREELANCERTECH, architecturée sur trois couches :
                    <ul>
                        <li><b>La couche web </b>: basée sur le framework JSF avec la librairie de composants graphiques <b>PrimeFaces</b>. </li>
    <li><b>La couche métier ou des services </b> : basée sur le <b>Framework Spring </b>.</li>
    <li><b>La couche d’accès aux données </b> : basée sur le <b>Framework Hibernate </b> gérant la persistance des objets en base de données relationnelle(MySQL, Oracle, PostgreSQL, SQL Server, …).
                      </li></ul>
                    
                    
                    
                </h1>
                              
            </ui:define>
        </ui:composition>

    </body>
</html>
