<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <title>Connexion</title>
    <!--<link rel="shortcut icon" href="#{request.contextPath}/resources/icons/favicon.ico"/>-->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link href="#{request.contextPath}/resources/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="#{request.contextPath}/resources/css/styles.css" rel="stylesheet" type="text/css"/>
    <!-- script references -->
    <script src="#{request.contextPath}/resources/js/jquery-2.1.1.min.js"></script>
    <script src="#{request.contextPath}/resources/js/bootstrap.min.js"></script>
    <script src="#{request.contextPath}/resources/js/bootstrap-theme.min.js"></script>
</h:head>

<h:body>
    <f:loadBundle var="msg" basename="Bundle"/>
    <div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <p:graphicImage library="images" name="freelancertech.png"
                                    style="vertical-align: middle; position: relative; margin-left: 20px; margin-right: 10px;"/>

                    <h1 class="text-center">Connexion</h1>
                </div>
                <div class="modal-body">
                    <h:form id="login_form" prependId="false" class="form col-md-12 center-block">
                        <p:growl id="msg" showDetail="true"/>

                        <div class="form-group">
                            <p:inputText id="username" value="#{loginController.login}" class="form-control input-lg"
                                         placeholder="Login"
                                         required="true" requiredMessage="Veuillez saisir le nom d'utilisateur"/>
                        </div>
                        <div class="form-group">
                            <p:password id="password" value="#{loginController.password}" class="form-control input-lg"
                                        placeholder="Password"
                                        required="true" requiredMessage="Veuillez saisir votre mot de passe."/>
                        </div>
                        <div class="form-group">
                            <p:selectBooleanCheckbox pt:name="rememberMe" id="rememberMe"
                                                     value="#{loginController.rememberMe}"
                                                     itemLabel="Se souvenir de moi?"/>
                        </div>
                        <div class="form-group">
                            <p:commandButton ajax="false" class="btn btn-primary btn-lg btn-block" value="Connexion"
                                             action="#{loginController.doLogin()}"/>
                            <span class="pull-right"><a href="#">Register</a></span><span><a
                                href="#">Need help?</a></span>
                        </div>
                    </h:form>
                </div>
                <div class="modal-footer">
                    <div class="col-md-12">
                        <!--<p:commandButton ajax="true" class="btn" pt:data-dismiss="modal" pt:aria-hidden="true">Annuler</p:commandButton>-->
                        Login : <b>admin </b> || Password : <b>admin </b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</h:body>
</html>

