<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui" xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Gestion des Taxis"/>
    <link rel="shortcut icon" href="#{request.contextPath}/resources/icons/favicon.ico"/>
    <meta name="author" content="Simon Pascal Ngos"/>
    <!-- Le styles -->
    <link href="resources/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="resources/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet"/>
    <style>
        /* Set the fixed height of the footer here */
        #push,
        #footer {
            height: 60px;
        }
        #footer {
            background-color: #f5f5f5;
        }

        /* Lastly, apply responsive CSS fixes as necessary */
        @media (max-width: 767px) {
            #footer {
                margin-left: -20px;
                margin-right: -20px;
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    </style>
    <!--  <link href="resources/css/bootstrap-responsive.css" rel="stylesheet"/>
       <link href="resources/css/bootstrap-theme.min.css" rel="stylesheet"/>
       <link href="#{request.contextPath}/resources/js/google-code-prettify/prettify.css" rel="stylesheet"/>-->
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="#{request.contextPath}/resources/js/html5shiv.js"></script>
    <![endif]-->
    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="#{request.contextPath}/resources/ico/favicon.png"/>

    <title>FREELANCERTECH - TAXI</title>
</h:head>

<h:body>


    <div class="container">
        <p:outputPanel id="schoolPanel">
            <div class="row row-fluid">
                <div class="col-lg-2">
                    <div class="panel panel-danger">
                        <h:form>
                            <ul class="nav nav-pills nav-stacked">
                                <li class="#{(cityController.page eq 2)?'active':''}">
                                    <p:commandLink value="Nouveau" update="@form">
                                        <f:setPropertyActionListener target="#{cityController.city}" value="#{null}"/>
                                        <f:setPropertyActionListener target="#{cityController.page}" value="#{2}"/>
                                    </p:commandLink>
                                </li>
                                <li class="#{(cityController.page eq 1)?'active':''}">
                                    <p:commandLink action="#{cityController.load()}" value="Villes" update="@form">
                                        <f:setPropertyActionListener target="#{cityController.page}" value="#{1}"/>
                                    </p:commandLink>
                                </li>
                            </ul>
                        </h:form>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="panel panel-warning">
                    </div>
                </div>
            </div>
        </p:outputPanel>
    </div>

    <div id="footer">
        <div class="container">
            <p align = "right">Copyright  by 2014  <a href="http://www.freelancertech.net" target="_blank">www.freelancertech.net</a></p>
        </div>
    </div>
    <!-- Le javascript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--script src="#{request.contextPath}/resources/js/jquery.js"></script-->
    <script type="text/javascript" src="resources/bootstrap/js/bootstrap.min.js"></script>

</h:body>
</html>
