<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="./../../WEB-INF/templates/default.xhtml">
        <ui:define name="content">
            <p:growl escape="true" life="10000" showDetail="true" severity="info,warn,error" />
            <h:form>
                <p:panelGrid columns="2">
                    <f:facet name="header">
                        Nouvelle Mati&egrave;re
                    </f:facet>

                    <p:outputLabel value="Code de la Mati&egrave;re:" for="code" />
                    <p:inputText id="code" value="#{matiereController.matiere.code}" title="Code de la mati&egrave;re" required="true"/>

                    <p:outputLabel value="Noms:" for="name" />
                    <p:inputText id="name" value="#{matiereController.matiere.nom}" title="Nom de la mati&egrave;re" required="true"/>

                    <p:outputLabel value="Niveau : " for="spin_niveau" />
                    <p:spinner id="spin_niveau" min="1" max="5" value="#{matiereController.matiere.niveau}" title="Niveau de la Mati&egrave;re">
                        <f:convertNumber maxIntegerDigits="1" minIntegerDigits="1" maxFractionDigits="0" minFractionDigits="0" type="number" groupingUsed="true"/>
                    </p:spinner>                    
                </p:panelGrid>
                <p:commandButton ajax="false" action="#{matiereController.performCreate()}"  value="Enregistrer"  icon="ui-icon-save"/>                                     
                <br/>
                <p:commandLink ajax="false" action="index?faces-redirect=true" value="Toute les Mati&egrave;re" immediate="true"/>               
            </h:form>
        </ui:define>
    </ui:composition>
</html>
