<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="./../../WEB-INF/templates/default.xhtml">
        <ui:define name="content">
            <p:messages escape="false"  closable="true" autoUpdate="true" severity="info,warn,error"/>
            <h:form prependId="false">
                <p:panelGrid columns="2">
                    <f:facet name="header">
                        Suppression de Cette Matière
                    </f:facet>                    
                    <h:outputText value="Matière:"/>
                    <h:outputText value="#{matiereController.matiere.code}" title="Code de la Matière"/>
                    
                    <h:outputText value="Nom:"/>                    
                    <h:outputText value="#{matiereController.matiere.nom}" title="Nom de la Matière"/>

                    <h:outputText value="Niveau:"/>
                    <h:outputText value="#{matiereController.matiere.niveau}" title="Niveau de la Matière"/>                    
                </p:panelGrid>
                <p:commandButton id="btn_delete" ajax="false" action="#{matiereController.performDelete()}" value="Supprimer"/>   
                <p:commandButton id="btn_return" ajax="true" action="index?faces-redirect=true" value="Retour"/>   
            </h:form>
        </ui:define>
    </ui:composition>
</html>

